<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${accountId.toUpperCase()} + 's Account'" ></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p id ="ID" th:text="'UserID: ' + ${userId} + '!'"></p>
<p th:text="'AccountID: ' + ${accountId} + '!'"></p>
<p th:text="'Balance: ' + ${balanceId} + '!'"></p>
<p th:value="${userId}" id="UserIDtag" ></p>


<form>
    <input type="text" id="wit">
    <input onclick="withdraw()" type="button" value="Withdraw">
</form>
<form>
    <input type="text" id="depo">
    <input onclick="deposit()" type="button" value="Deposit">
</form>

<script>

    function deposit(){

        let userId = document.getElementById('ID').value;

        console.log(userId)

        var depoVal = document.getElementById('depo').value;

        window.location.href = '/bank/deposit?id=2&deposit='+ depoVal;
    }

    function withdraw(){

        let userId;

        var witVal = document.getElementById('wit').value;
        window.location.href = '/bank/withdraw?id='+userId+'&withdraw='+ witVal;
    }



</script>


</body>
</html>